@media (max-width: 1920px) {
    .contact {
        &__title {
            font-size: calc(54px + (100 - 54) * ((100vw - 375px) / (1920 - 375)));
        }

        &__bottom-part {
            font-size: calc(36px + (64 - 36) * ((100vw - 375px) / (1920 - 375)));
        }    
    }
}

@media (max-width: 1440px) {
    .contact {
        &__wrap {
            padding: 40px 80px 76px;
        }

        &__img {
            left: 60px;
        }

        &__form-wrap {
            margin-top: 35px;
        }
    }
}

@media (max-width: 1200px) {
    .contact {
        &__container {
            margin: Min(Max(40px,10.5vw),60px) auto 80px;
        }

        &__block {   
            border-radius: 34px;
            padding: Min(Max(10px,3.5vw), 80px) Min(Max(20px,5.5vw), 80px) 0px;
        }

        &__wrap {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            gap: 45px;
            padding: 0;
        }

        &__title {
            grid-column: 1 / 2;
            grid-row: 1 / 2;

            width: 100%;
            padding: 0;
            margin-bottom: 5px;

            &::after {
                left: auto;
                right: 15px;
                bottom: -35px;
                width: 40px;
                height: 40px;
            }
        }

        &__img-wrap {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
    
            position: static;
            @include flex($dir: column);
        }

        &__img {  
            position: static;
            margin-bottom: -85px;
        }

        &__form-wrap {
            grid-column: 1 / 2;
            grid-row: 2 / 3;

            margin-top: 0;
        }
    }
}

@media (max-width: 768px) {
    .contact {
        &__container {
            padding: 0 15px;
        }
    }
}