.delivery {
    padding-top: 96px;
    padding-bottom: 60px;
    background: url('../images/dist/partners-page/delivery-pattern.svg') no-repeat top center;
    background-size: Min(Max(50px,10vw),83px) auto;

    &__container {
        @include flex($dir: column);
    }

    &__title {
        position: relative;
        display: inline-flex;

        font-family: $userfont1;
        font-size: 64px;
        line-height: 100%;
        font-weight: 400;
        color: $textcolor-dark;

        padding-left: 32px;
        padding-right: 32px;

        &::before,
        &::after {
            position: absolute;
            content: '';
            top: calc(58%);
            width: 15px;
            height: 15px;
            background: $accent1;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    &__image {
        margin-top: -75px;
        width: 100%;
        height: auto;
    }

    &__gallery-wrap {
        position: relative;
        width: 100%;
        height: 100%;
        display: none;
    }

    &__slide {
        width: 100%;
        height: auto;
    }

    &__slid-img {
        width: 100%;
        height: auto;
    }

    &__btns {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        & .swiper-button {
            position: absolute;
            top: 0;
            margin: 0 !important;
            width: 50px;
            height: 100%;
            border: none !important;
            cursor: pointer;
        }

        & .swiper-button.prev {
            left: 0;
        }

        & .swiper-button.next {
            right: 0;
        }

        & .swiper-button.prev::before,
        & .swiper-button.next::before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 54%;
            width: 30px;
            height: 60px;
            background: url('../images/dist/partners-page/slider-arrow-left.svg') no-repeat center / contain;
        }

        & .swiper-button.prev::before {
            left: 3px;
        }

        & .swiper-button.next::before {
            right: 3px;
            transform: scale(-1, 1);
        }

        & .swiper-button.swiper-button-disabled::before {
            background: url('../images/dist/partners-page/slider-arrow-disabled.svg') no-repeat center / contain;
        }
    }
}

@import '_media-delivery';