.more {

    &__container {
        margin: 50px auto 114px;
        @include container($content-width: rem(1800), $container-offset: rem(35));  
    }

    &__block {
        min-height: 550px;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        background: url('../images/dist/main-page/more-bg.webp') no-repeat center / contain, $background-block-2;
        border-radius: $radius-block;
    }

    &__img-wrap {
        position: relative;
    }

    &__img {
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 0;

        max-width: 900px;
        width: auto;
        height: auto;
    }

    &__content {
        position: relative;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: end;

        @include flex($dir: column, $jc: flex-end, $ai: flex-start);
        gap: 51px;

        width: 100%;
        height: 100%;
        padding: 116px 30px 116px 0;
    }

    &__title {
        font-family: $userfont1;
        font-size: 64px;
        font-weight: 700;
        line-height: 110%;
    }
}

@import '_media-more';