@media (max-width: 576px) {
    .social-links { 
        &__list {  
            &_footer {
                gap: 15px;
            }
        }

        &__item {
            &_footer {
                display: none !important;
            }
        }

        &__icon {
            &_footer {
                width: 30px;
                height: 30px;
            }
        }
    }
}