.social-links {
    &__list {
        @include flex($jc: flex-start);
        gap: 25px;

        &_footer {
            gap: 20px;
        }
    }

    &__item {
        display: inline-flex;
        cursor: pointer;
        border-radius: 50%;
        transition: box-shadow $transition;
        
        &:hover {
            box-shadow: $shadow-search;
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
    }
}

@import '_media-social-links';