@media (max-width: 1920px) {
    .shops {
        padding-top: calc(329px + (242 - 329) * ((100vw - 375px) / (1920 - 375)));
        padding-bottom: calc(80px + (100 - 80) * ((100vw - 375px) / (1920 - 375)));

        &__title-wrap {
            &::before {
                width: calc(280px + (511 - 280) * ((100vw - 375px) / (1920 - 375)));
                height: calc(340px + (511 - 340) * ((100vw - 375px) / (1920 - 375)));
            }
        }

        &__title {
            font-size: calc(32px + (56 - 32) * ((100vw - 375px) / (1920 - 375)));
        }

        &__map {
            min-height: calc(650px + (820 - 650) * ((100vw - 375px) / (1920 - 375)));
        }
    }

    .window {
        width: calc(325px + (400 - 325) * ((100vw - 375px) / (1920 - 375)));
        height: calc(325px + (400 - 325) * ((100vw - 375px) / (1920 - 375)));
    
        &__wrap {
            width: calc(260px + (320 - 260) * ((100vw - 375px) / (1920 - 375)));
            height: calc(260px + (320 - 260) * ((100vw - 375px) / (1920 - 375)));

            &::before {
                width: calc(325px + (400 - 325) * ((100vw - 375px) / (1920 - 375)));
                height: calc(325px + (400 - 325) * ((100vw - 375px) / (1920 - 375)));
            }
    
            &::after {
                width: calc(260px + (320 - 260) * ((100vw - 375px) / (1920 - 375)));
                height: calc(260px + (320 - 260) * ((100vw - 375px) / (1920 - 375)));
            }
        }

        &__text-big {
            font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1920 - 375)));
    
            &::before,
            &::after {
                width: calc(3.6px + (5 - 3.6) * ((100vw - 375px) / (1920 - 375)));
                height: calc(3.6px + (5 - 3.6) * ((100vw - 375px) / (1920 - 375)));
            }
    
            &::before {
                left: calc(-12px + (-14 + 12) * ((100vw - 375px) / (1920 - 375)));
            }
    
            &::after {
                right: calc(-12px + (-14 + 12) * ((100vw - 375px) / (1920 - 375)));
            }
        }

        &__text {
            font-size: calc(13px + (14 - 13) * ((100vw - 375px) / (1920 - 375)));
        }
    
        &__list-wrap {
            font-size: calc(16px + (20 - 16) * ((100vw - 375px) / (1920 - 375)));
        }

        &__link {
            font-size: calc(16px + (18 - 16) * ((100vw - 375px) / (1920 - 375)));
        }
        
        &__num {
            font-size: calc(55px + (68 - 55) * ((100vw - 375px) / (1920 - 375)));
        }
    
        &__name {
            font-size: calc(13px + (16 - 13) * ((100vw - 375px) / (1920 - 375)));
        }
    
        &__btn-modal {
            font-size: calc(10px + (12 - 10) * ((100vw - 375px) / (1920 - 375)));
        }
    }
}

@media (max-width: 1440px) {
    .shops {
        &__wrap {
            gap: 100px;
        }
    }
}

@media (max-width: 1200px) {
    .shops {
        &__wrap {
            flex-direction: column;
            gap: 50px;
            margin-left: 0;
        }

        &__title-wrap {  
            &::before {
                top: -180%;
                left: -60%;
            }
        }

        &__window {
            margin-bottom: -100px;
        }
    }

    .window {
        &__wrap {
            gap: 5px;
        }

        &__count {
            margin: 5px 0 5px;
        }

        &__button {   
            &::after {
                width: 9px;
                height: 9px;
            }
        }

        &__list {
            bottom: -100px;
            padding: 10px 10px 15px;
            min-width: 190px;
        }
    }
}

@media (max-width: 768px) {
    .shops {
        &__container {
           padding: 0 15px;  
        }

        &__wrap {
            align-items: stretch;
        }

        &__title-wrap {  
            &::before {
                top: -300px;
                left: auto;
                right: 0;
            }
        }

        &__window {
            margin: 0 auto -100px;
        }

        &__map {
            height: 100%;
            border-radius: 30px;
        }
    }
}

@media (max-width: 576px) {
    .shops {
        &__title-wrap {  
            &::before {
                left: -70px;
                right: auto;
            }
        }
    }
    .window {
        &__list {
            bottom: -93px;
        }
    }
}