@media (max-width: 1920px) {
    .shops {
        padding-top: calc(349px + (242 - 349) * ((100vw - 375px) / (1920 - 375)));
        padding-bottom: calc(60px + (100 - 60) * ((100vw - 375px) / (1920 - 375)));

        &__title {
            font-size: calc(32px + (56 - 32) * ((100vw - 375px) / (1920 - 375)));
            padding-left: calc(18px + (52 - 18) * ((100vw - 375px) / (1920 - 375)));
    
            // &::before {
            //     width: calc(10px + (20 - 10) * ((100vw - 375px) / (1920 - 375)));
            //     height: calc(10px + (20 - 10) * ((100vw - 375px) / (1920 - 375)));
            // }
        }
    }

    .window {
        width: calc(165px + (230 - 165) * ((100vw - 375px) / (1920 - 375)));
        height: calc(165px + (230 - 165) * ((100vw - 375px) / (1920 - 375)));

        &:hover .price__wrap::after {
            width: calc(132px + (180 - 132) * ((100vw - 375px) / (1920 - 375)));
            height: calc(132px + (180 - 132) * ((100vw - 375px) / (1920 - 375)));
        }
    
        &__wrap {
            width: calc(122px + (170 - 122) * ((100vw - 375px) / (1920 - 375)));
            height: calc(122px + (170 - 122) * ((100vw - 375px) / (1920 - 375)));

            &::before {
                width: calc(165px + (230 - 165) * ((100vw - 375px) / (1920 - 375)));
                height: calc(165px + (230 - 165) * ((100vw - 375px) / (1920 - 375)));
            }
    
            &::after {
                width: calc(122px + (170 - 122) * ((100vw - 375px) / (1920 - 375)));
                height: calc(122px + (170 - 122) * ((100vw - 375px) / (1920 - 375)));
            }
        }

        &__text-big {
            font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (1920 - 375)));
    
            &::before,
            &::after {
                width: calc(3.6px + (5 - 3.6) * ((100vw - 375px) / (1920 - 375)));
                height: calc(3.6px + (5 - 3.6) * ((100vw - 375px) / (1920 - 375)));
            }
    
            &::before {
                left: calc(-12px + (-14 + 12) * ((100vw - 375px) / (1920 - 375)));
            }
    
            &::after {
                right: calc(-12px + (-14 + 12) * ((100vw - 375px) / (1920 - 375)));
            }
        }

        &__text-small {
            font-size: calc(15px + (20 - 15) * ((100vw - 375px) / (1920 - 375)));
        }
    }
}

@media (max-width: 1200px) {
    .shops {
        &__bottom-part {
            margin-top: -15px;
            margin-left: 200px;
        }

        &__list {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 1fr;    
        }
    }
}

@media (max-width: 991px) {
    .shops {
        &__wrap {
            flex-direction: column;
            align-items: center;
            gap: 40px;
            margin-bottom: 52px;
        }

        &__title {
            width: 100%;
        }

        &__bottom-part {
            margin-top: -15px;
            margin-left: 40%;
        }
    }
}

@media (max-width: 768px) {
    .shops {
        &__list {
            gap: 15px;
        }
    
        &__item {
            gap: 23px;
            padding: 28px 20px 39px;
        }
    
        &__wrap-icon {
            width: 58px;
            height: 47px;
        }

        &__description {
            font-size: 15px;
        }
    }
}

@media (max-width: 576px) {
    .shops {
        &__container {
            padding-right: 0;
        }

        &__wrap {
            gap: 20px;
            padding-right: 15px;
            margin-bottom: 35px;
        }

        &__title {
            &::before {
                top: calc(30%);
            }
        }

        &__bottom-part {
            margin-top: -3px;
            margin-left: auto;
        }

        &__list {
            display: flex;
            gap: 0px;
        }

        &__item {
            max-width: 240px;
        }
    }
}