.shops {
    padding-top: 146px;
    padding-bottom: 100px;

    &__container {
        @include container($content-width: rem(1800), $container-offset: rem(35));  
    }

    &__wrap {
        @include flex;
        gap: 40px;
        margin-bottom: 52px;
    }

    &__title {
        position: relative;
        @include flex($dir: column, $ai: flex-start, $jc: space-between);

        font-family: $userfont1;
        font-size: 56px;
        line-height: 100%;
        font-weight: 400;
        color: $textcolor-dark;

        // &::before {
        //     position: absolute;
        //     content: '';
        //     top: calc(35%);
        //     left: 0;
        //     width: 20px;
        //     height: 20px;
        //     background: $accent1;
        // }
    }

    &__weight {
        font-weight: 700;
    }

    &__map {
        min-height: calc(650px + (685 - 650) * ((100vw - 375px) / (1920 - 375)));
        height: 100%;
        border-radius: $radius-block;
        overflow: hidden;
    }
}

[class*="copyrights-pane"] {
	display: none !important;
}

[class*="ground-pane"] {
	filter: grayscale(1);
}

.window {
    width: 230px;
    height: 230px;
    border-radius: 50%;

    position: relative;
    cursor: pointer;

    &:hover .price__wrap::after {
        width: 180px;
        height: 180px;
    }

    &__wrap {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include flex($dir: column);
        gap: 4px;

        width: 170px;
        height: 170px;
        border-radius: 50%;
        padding: Min(Max(15px,5vw),24px);

        &::before,
        &::after {
            content: '';
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            box-sizing: border-box;
        }

        &::before {
            width: 230px;
            height: 230px;
            border: 1px solid $accent3;
        }

        &::after {
            width: 170px;
            height: 170px;
            background: $accent3;
            transition: width $transition, height $transition;
        }
    }

    &__wrap-icon {
        width: Min(Max(20px,3vw),27px);
        height: Min(Max(27px,3vw),37px);
        z-index: 1;
    }

    &__icon {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__text-big,
    &__text-small {
        font-family: $userfont1;
        color: $textcolor-light;
        z-index: 1;
    }

    &__text-big {
        position: relative;
        font-size: 24px;
        line-height: 90%;
        font-weight: 700;

        &::before,
        &::after {
            position: absolute;
            content: '';
            top: calc(55%);
            width: 5px;
            height: 5px;
            background: $textcolor-light;
        }

        &::before {
            left: -14px;
        }

        &::after {
            right: -14px;
        }
    }

    &__text-small {
        font-size: 20px;
        line-height: 90%;
        font-weight: 400;
    }
}

@import '_media-map-shops';