@use "sass:math";

// VARIABLES

$userfont1: 'TRY Clother', sans-serif;
$userfont2: 'Gilroy', sans-serif;

$textcolor-dark: #2A2A2A; 
$textcolor-light: #FFFFFF;
$textcolor-light-gray: #A1A1A1;; 
$textcolor-dark-gray: #6A6A6A; 

$background-header: #FFFFFF; 
$background-header-mob: #D7DCD6;
$background-site: #DEEAEB; 
$background-site-product: #E9F4F1; 
$background-footer: #D7DCD6; 

$background-block-1: #9FD6D3; 
$background-block-2: #F4F3F8;
$background-block-3: #FFFFFF;

$background-product-card: #FFFFFF; 
$background-product-img: #D7EBE5; 
$background-product-info: #F1F5F5; 

$background-window-info: rgba(213, 218, 211, 0.9); 
$background-window-info2: rgba(255, 255, 255, 0.8); 
$background-window-info3: rgba(114, 208, 202, 0.85); 

$accent1: #C6202C;
$accent2: #5E8D66;
$accent3: #72D0CA;
$accent4: #79378A;

$border-form: 1.5px solid #D9D9D9;
$border-card: 1px solid #E0ECE9;
$border-card-hover: 4px solid #E0ECE9;

$radius-block: 50px;
$radius-header: 40px;
$radius-btn: 30px;
$radius-search: 22.5px;
$radius-card: 20px;
$radius-card-big: 30px;
$radius-window-info: 15px;
$radius-window-info2: 35px;
$radius-advantages: 35px;

$shadow-btn: 0px 6px 12px rgba(198, 32, 44, 0.3);
$shadow-search: 4px 4px 10px rgba(42, 42, 42, 0.15);

$transition: 0.4s cubic-bezier(.62, .33, .53, .89);

$container_padding: 80px 135px;
$container_padding-mob: 30px 5.3333% 40px;

// FUNCTIONS

@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}

// MIXIN 

@mixin font($sz: rem(16),
			$lh: 120%, 
			$wt: 500, 
			$stl: normal) {
	font-size: $sz;
	line-height: $lh;
	font-weight: $wt;
	font-style: $stl;
}

@mixin flex ($dir: row,
             $jc: center,
             $ai: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
}

@mixin container($content-width: rem(1440),
				 $container-offset: rem(35)) {
	padding: 0 $container-offset;
	max-width: calc($content-width + ($container-offset * 2));
}

// GENERAL CSS SETTINGS

html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0;
}

.page {
	position: relative;
	font-family: $userfont2;
	@include font ($sz: 16px);
	color: $textcolor-dark;
	background: $background-site;
	min-width: 320px;
	min-height: 100%;

	&__cover {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: $textcolor-dark-gray;
		mix-blend-mode: multiply;
		z-index: 1;
	}
}

.wrapper {
	min-height: 100vh;
	height: auto;
	width: 100%;
	@include flex ($dir: column, $jc: space-between, $ai: stretch);
	position: relative;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	@include container;

	@media (max-width: 768px) {
		padding: 0 15px;
	}
}

.title-h1 {
	font-family: $userfont1;
	@include font($sz: 86px, $lh: 86px, $wt: 700);
	color: $textcolor-light;

	@media (max-width: 1200px) {
		font-size: 69px;
		line-height: 100%;
	}

	@media (max-width: 576px) {
		font-size: 52px;
	}
}

.title-h2 {
	font-family: $userfont1;
	font-weight: 700;
	// @include font($sz: 126px, $lh: 176px, $wt: 700);
}

// .title-h3 {
// 	@include font($sz: Min(Max(24px,5vw),32px), $lh: 120%, $wt: 500);
// 	margin-bottom: Min(Max(15px,2.5vw),40px);
// }

// .title-h4 {
// 	@include font($sz: rem(24), $lh: 120%, $wt: 500);
// }

// .subtitle {
// 	@include font($sz: Min(Max(14px,3.5vw),18px), $lh: 140%, $wt: 500);
// 	margin-bottom: Min(Max(10px,2.5vw),20px);
// }

.text {
	@include font($sz: Min(Max(12px,2.5vw),18px), $lh: 140%, $wt: 400);
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	font-family: $userfont1;
	@include font($sz: 16px, $lh: 16px, $wt: 400);
	text-align: center;
	border-radius: $radius-btn;
	color: $textcolor-light;

	background: $accent1;
	box-shadow: $shadow-btn;
	padding: 20px 35px 25px;
	cursor: pointer;
	width: auto;

	&__arrow {
		position: relative;
		width: 20px;
		height: 1.5px;
		background: $textcolor-light;
		border-radius: 1.5px;
		margin-top: 4px;
		transition: width $transition;

		&::before,
		&::after {
			position: absolute;
			content: '';
			right: -2px;
			width: 8px;
			height: 1.5px;
			background: $textcolor-light;
			border-radius: 1.5px; 
		}

		&::before {
			top: -2.5px;
			transform: rotate(45deg);
		}

		&::after {
			bottom: -2.5px;
			transform: rotate(-45deg);
		}
	}

	@media (min-width: 768px) {
		&:hover .btn__arrow {
			width: 30px;
		}
		
		// &_animaited {
		// 	position: relative;
		// 	animation: moveLeft 0.3s linear normal running both;
	
		// 	&:hover {
		// 		animation: moveRight 0.3s linear normal running both;
	
		// 		@keyframes moveRight {
		// 			0% {left: 0;}
		// 			100% {left: 5px;}
		// 		}
		// 	}
	
		// 	@keyframes moveLeft {
		// 		0% {left: 5px;}
		// 		100% {left: 0px;}
		// 	}
		// }
	}

	@media (max-width: 576px) {
		font-size: 14px;
		line-height: 14px;
		padding: 17px 35px 19px;
	}

	@media (max-width: 425px) {
		max-width: 305px;
		width: 100%;
	}
}

.look {
	width: 230px;
	@include flex($jc: flex-start);
	gap: 8px;

	@include font($sz: 14px, $lh: 17px, $wt: 400);
	letter-spacing: 0.1em;
	text-align: center;
	color: $textcolor-light;
	text-transform: uppercase;

	border-bottom: 2px solid $accent1;
	padding-bottom: 8px;
	transform: rotate(90deg);

	&__arrow {
		position: relative;
		width: 15px;
		height: 1px;
		background: $textcolor-light;
		border-radius: 1px;
		animation: arrowPuls 1.6s linear 0s infinite normal running;

		@keyframes arrowPuls {
			0% {
				left: 0;
				width: 15px;
			}

			50%  {
				left: 15px;
				width: 25px;
			}

			100% {
				left: 0px;
				width: 15px;
			}
		}

		&::before,
		&::after {
			position: absolute;
			content: '';
			right: -1px;
			width: 6px;
			height: 1px;
			background: $textcolor-light;
			border-radius: 1px; 
		}

		&::before {
			top: -2px;
			transform: rotate(45deg);
		}

		&::after {
			bottom: -2px;
			transform: rotate(-45deg);
		}
	}

	@media (max-width: 576px) {
		width: 180px;
		font-size: 13px;
		line-height: 15px;
		padding-bottom: 5px;
	}
}

