@media (max-width: 1200px) {
    .social-links { 
        &_hero {
            display: none;
        }
    }
}

@media (max-width: 576px) {
    .social-links { 
        &_footer {
            gap: 15px;
        }

        &__icon {
            &_footer {
                width: 30px;
                height: 30px;
            }
        }
    }
}

@media (max-width: 425px) {
    .social-links { 
        &_footer {
            gap: 10px;
        }
    }
}