.pagination {
    @include flex($jc: flex-end);
    gap: 5px;
    margin-top: Min(Max(46px,5.5vw),60px);

    &__btn {
        @include flex;
        width: 35px;
        height: 35px;
        font-family: $userfont2;
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        color: $textcolor-dark-gray;
        border-radius: 50%;
        box-sizing: border-box;
        transition: border $transition;

        &_prev,
        &_next,
        &_page  {
            cursor: pointer;
        }

        &_prev,
        &_next  {   
            width: 7px;
            height: 12px;
        }

        &_current  {
            background: $accent2;
            color: $textcolor-light;
        }
    }

    &__icon {
        height: 12px;
        width: auto;
    }
}

@media (max-width: 576px) {
    .pagination {
        justify-content: center;
    }
}
