@media (max-width: 1920px) {
    .categories {
        padding-top: calc(167px + (313 - 167) * ((100vw - 375px) / (1920 - 375)));
        padding-bottom: calc(80px + (120 - 80) * ((100vw - 375px) / (1920 - 375)));
    }
}

@media (max-width: 1200px) {
    .categories {
        &__list {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        } 
    }
}

@media (max-width: 768px) {
    .categories {
        &__list {
            gap: 40px;
        } 

        &__wrap {
            height: calc(140px + (280 - 140) * ((100vw - 375px) / (768 - 375)));
    
            &::before {
                height: calc(140px + (280 - 140) * ((100vw - 375px) / (768 - 375)));
            }
    
            &::after {
                width: calc(40.75px + (80 - 40.75) * ((100vw - 375px) / (768 - 375)));
                height: calc(40.75px + (80 - 40.75) * ((100vw - 375px) / (768 - 375)));
            }
        }

        &__img {
            padding: calc(13px + (37 - 13) * ((100vw - 375px) / (768 - 375)));
        }

        &__name {
            line-height: 0.97;
        }
        
        &__name-wrap {
            padding-top: calc(15px + (25 - 15) * ((100vw - 375px) / (768 - 375)));
            padding-left: calc(15px + (25 - 15) * ((100vw - 375px) / (768 - 375)));
            padding-right: calc(15px + (25 - 15) * ((100vw - 375px) / (768 - 375)));
            padding-bottom: calc(17px + (25 - 17) * ((100vw - 375px) / (768 - 375)));
        }
    }
}

@media (max-width: 576px) {
    .categories {
        &__list {
            gap: 15px;
        } 

        &__item {
            border-radius: 15.3px;
    
            &::before {
                border-radius: 15.3px;
            }
        }
    
        &__link {
            border-radius: 15.3px;
        }

        &__wrap {
            border-radius: 15.3px 15.3px 10.19px 10.19px;
    
            &::before {
                border-radius: 15.3px 15.3px 10.19px 10.19px;
            }
        }

        &__img {
            border-radius: 15.3px 15.3px 10.19px 10.19px;
        }
    }
}